.wrapper {
    width: rem(64);
    height: rem(70);
    position: relative;

    span {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cursor {
        position: absolute;
        top: calc(100% + rem(5));
        left: 50%;
        transform: translateX(-50%);
    }
}
