.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: rem(70);
    right: rem(65);
}

.wrapperProgress {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(10);
}

.progress {
    position: relative;
    background-color: white;

    width: grid(1, 4);
    height: rem(40);

    clip-path: polygon(
        99.94% 62.523%,
        94.443% 98.966%,
        32.633% 78.159%,
        30.041% 79.443%,
        3.326% 91.455%,
        0.018% 14.716%,
        0.018% 14.716%,
        0.469% 14.858%,
        1.749% 15.266%,
        3.747% 15.913%,
        6.353% 16.771%,
        9.456% 17.813%,
        12.946% 19.011%,
        16.712% 20.34%,
        20.644% 21.771%,
        24.631% 23.276%,
        28.562% 24.83%,
        28.562% 24.83%,
        32.22% 26.363%,
        35.749% 27.881%,
        39.089% 29.355%,
        42.182% 30.755%,
        44.968% 32.053%,
        47.387% 33.218%,
        49.38% 34.223%,
        50.887% 35.037%,
        51.849% 35.632%,
        52.207% 35.977%,
        52.207% 35.977%,
        53.552% 35.314%,
        57.082% 32.817%,
        62.248% 28.935%,
        68.503% 24.117%,
        75.299% 18.81%,
        82.087% 13.463%,
        88.321% 8.524%,
        93.452% 4.441%,
        96.932% 1.662%,
        98.214% 0.636%,
        99.939% 62.534%,
        99.94% 62.523%
    );
}

.motif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% * var(--progress, 0.5));

    svg {
        height: 100%;
        width: 100%;
    }
}
