@font-face {
    font-family: $main-fontname;
    src: url('/fonts/TimBurtonRegular.woff2') format('woff2'), url('/fonts/TimBurtonRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
