body {
    background: none;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.explanations {
    width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(3, auto);
    gap: rem(24);
    font-family: 'Inter';
    font-size: rem(18);

    .icon {
        justify-self: flex-end;
        height: rem(50);
    }

    .iconBar {
        justify-self: flex-end;
        height: rem(30);
    }

    .text {
        padding-left: rem(24);
        li {
            list-style-type: circle;
        }
    }
}

.buttonSkip {
    position: absolute;
    right: rem(36);
    bottom: rem(36);
}

.img {
    width: grid(4, 2);
    height: fit-content;
    // margin: auto;
    margin-top: calc(190 / var(--width-reference) * 100vw); // liquid
}

.textContainer {
    margin-top: calc(130 / var(--width-reference) * 100vw); // liquid
}
